.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;

    .header {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        width: 100%;

        .back_button {
            align-self: flex-start;
        }

        .add_button {
            border: none;
            background: none;
            align-self: flex-end;
        }
    }

    dialog {
        margin-top: 10rem;
        z-index: 1; /* set higher z-index value */
        border-radius: 25px;
        border: none;
        // background: rgba(255, 255, 255, 0.17);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(114, 3, 3, 0.1);
        backdrop-filter: blur(4.3px);
        -webkit-backdrop-filter: blur(4.3px);
    }

    form {
        width: 250px;
    }

    input[type="file"] {
        display: none;
    }
}
