.container {
    dialog {
        margin-top: 15rem;
        z-index: 1; /* set higher z-index value */
        border-radius: 25px;
        border: none;
    }

    form {
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
