//number input has no up and down buttons
/** **/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/** **/

input[type="number"] {
    -moz-appearance: textfield;
}

textarea {
    resize: none;
    background: none;
    border: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

.container {
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #010101;
    word-wrap: break-word;
    word-break: break-all;

    .header {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        width: 100%;

        .back_button {
            align-self: flex-start;
        }

        .edit_button {
            border: none;
            background: none;
        }
    }

    .delete_button {
        border-radius: 20px;
        letter-spacing: 4px;
        font-weight: 600;
        background-color: #839788;
        width: 80%;
        height: 25px;
    }

    .product_card {
        width: 340px;
        height: max-content;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        background-color: #839788;
        border-radius: 25px;
        margin: 10px 0px 20px 0px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        will-change: filter; // Safari shadow bug fix

        .rating {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            gap: 2px;
            right: 0;
            width: 70px;
            height: 30px;
            border-radius: 100px;
            background-color: #839788;
            margin: 10px 20px 0px 0px;
            font-weight: 900;
        }

        .edit_rating {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            gap: 2px;
            right: 0;
            width: 70px;
            height: 30px;
            border-radius: 100px;
            background-color: #839788;
            margin: 10px 20px 0px 0px;
            font-weight: 900;
        }

        img {
            border-radius: 25px 25px 0px 0px;
            position: relative;
        }

        .title {
            align-self: flex-start;
            margin: 0;
            padding: 5px 10px 0px 10px;
            font-size: 1.4rem;
        }

        .edit_title {
            align-self: flex-start;
            box-sizing: border-box;
            width: 100%;
            height: auto;
            padding: 5px 10px 0px 10px;
            font-size: 1.4rem;
            font-weight: 700;
            white-space: pre-wrap;
            overflow-wrap: break-word;
        }

        .description {
            align-self: flex-start;
            margin: 0;
            padding: 10px 10px 20px 10px;
            font-size: 0.9rem;
        }

        .edit_description {
            align-self: flex-start;
            box-sizing: border-box;
            width: 100%;
            height: auto;
            font-size: 0.9rem;
            padding: 10px 10px 20px 10px;
            white-space: pre-wrap;
            overflow-wrap: break-word;
        }

        .edit_description::placeholder {
            white-space: normal;
        }
    }
}
