//number input has no up and down buttons
/** **/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/** **/

input[type="number"] {
    -moz-appearance: textfield;
}

textarea {
    resize: none;
    background: none;
    border: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

.container {
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #010101;
    word-wrap: break-word;
    word-break: break-all;

    .header {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        width: 100%;
        height: 35px;

        .back_button {
            align-self: flex-start;
        }

        .edit_button {
            align-self: flex-end;
        }
    }

    .edit_action_buttons {
        display: flex;
        align-self: flex-end;
        gap: 10px;
        margin: 5px 10px 5px 0;

        .delete_button {
            border-radius: 20px;
            letter-spacing: 4px;
            font-weight: 600;
            background-color: #839788;
            width: 70px;
            height: 30px;
        }
    }

    .product_card {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 340px;
        height: max-content;
        position: relative;
        background-color: #839788;
        border-radius: 25px;
        margin: 10px 0px 20px 0px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        will-change: filter; // Safari shadow bug fix

        .rating {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            gap: 2px;
            right: 0;
            width: 70px;
            height: 30px;
            border-radius: 100px;
            background-color: #839788;
            margin: 10px 20px 0px 0px;
            font-weight: 900;
        }

        .edit_rating {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            gap: 2px;
            right: 0;
            width: 70px;
            height: 30px;
            border-radius: 100px;
            background-color: #839788;
            margin: 10px 20px 0px 0px;

            .edit_rating_input {
                display: flex;
                justify-content: flex-end;
                background-color: #839788;
                border: none;
                width: 10px;
                color: rgba(0, 0, 0, 0.9);
                font-weight: 900;
                font-size: 1rem;
            }

            .edit_rating_controls {
                display: none;
            }

            input::placeholder {
                color: rgba(0, 0, 0, 0.6);
                font-weight: 900;
                font-size: 1rem;
            }
        }

        img {
            border-radius: 25px 25px 0px 0px;
            position: relative;
        }

        .title {
            align-self: flex-start;
            margin: 0;
            padding: 5px 10px 0px 10px;
            font-size: 1.4rem;
        }

        .edit_title_root {
            align-self: flex-start;
            width: 100%;
        }

        .edit_title_input {
            box-sizing: border-box;
            width: 100%;
            padding: 5px 10px 0px 10px;
            font-size: 1.4rem;
            font-weight: 700;
            color: rgba(0, 0, 0, 0.6);
        }

        .description {
            align-self: flex-start;
            margin: 0;
            padding: 10px 10px 20px 10px;
            font-size: 0.9rem;
        }

        .edit_description_root {
            align-self: flex-start;
            width: 100%;
        }

        .edit_description_input {
            box-sizing: border-box;
            width: 100%;
            font-size: 0.9rem;
            padding: 10px 10px 20px 10px;
            color: rgba(0, 0, 0, 0.6);
        }
    }
}
